
.main-container {
    display: grid;
    grid-template-rows: 1fr 40px;
    height: 100vh;
}

.desktop-window {
    background-color: teal;
    padding: 10px;
}

/* App Icon */
.hold-app {
    max-width: 70px;
    height: auto;
    max-height: 80px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hold-app-active {
    opacity: 60%;
}

.app-name {
    font-size: 11px;
    font-family:monospace;
    width: 50px;
    color: black;
}

.icon {
    background-color: white;
    min-width: 50px;
    height: 50px;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
    border-color: rgba(0, 0, 0, 0.793);
    border-width: 1px;
    border-style: solid;
}

/* taskbar */
.taskbar {
    background-color: gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}

.start-menu {
    background-color: green;
    width: 100px;
    height: 30px;
}

.time-group {
    background-color: blue;
    height: 30px;
}

.email-box {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 10px;
    height: 100%;
    background-color: #1D1D1F;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.email-cluster {
    display: flex; 
    justify-content: space-between;
    border-bottom: solid;
    border-width: 2px;
    border-color: rgb(176, 174, 174);
    border-top: none;
    border-left: none;
    border-right: none;
    gap: 2px;
}

.input-style {
    background-color: transparent;
    border: none;
    flex: 1;
    border: none;
    outline: none;
    background: none;
    font: inherit;
    color: white;
}

.input-message {
    flex: 1;
    background-color: transparent;
    margin-top: 10px;
    text-align: left;
    vertical-align: top;
    resize: none;
    color: white;
    outline: none;
    border: none;
    font-size: large;
}

.app-window {
    /* width: 500px;
    height: 400px; */
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    position: absolute;
}

.app-header {
    background-color: gray;
    display: flex;
    height: 22px;
    justify-content: left;
    padding-left: 10px;
    padding-top: 6px;
    padding-bottom: 4px;
    border-radius: 15px 15px 0 0 ;
    cursor: grab;
}

.app-header {
    cursor: grab;
}

.app-header:active {
    cursor: grabbing;
}

.app-window-button {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 1px solid black;
    box-sizing: border-box;
    margin-right: 2px;
}

.app-window-button:active {
    opacity: 50%;
}


h2 {
    color: rgb(176, 174, 174);
    margin-top: 8px;
}

.three-button:hover {
    opacity: 50%;
}

.close-button {
    background-color: #FF5F57;
}

.min-button {
    background-color: #FEBC2E;
}

.max-button {
    background-color: #28C840;
}

.send-email-button {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    padding-top: 5px;
    padding-right: 7px;
    border-radius: 50%;
    border-color: black;
    border-width: 0px;
}

.send-email-button:active {
    opacity: 70%;
}

.send-email-button:hover {
    opacity: 70%;
}

.taskbar-icon {
    height: 35px;
    width: 35px;
    background-color: white;
    border-radius: 8px;
}

.taskbar-icon-holder {
    display: flex;
    gap: 10px;
    margin-right: auto;
    margin-left: 20px;
}

.taskbar-options {
    height: 500px;
    width: 450px;
    background-color: green;
    position: absolute;
    bottom: 40px;
    z-index: 999;
}

.login-page {
    background-color: blue;
    width: 99%;
    height: 99%;
    position: absolute;
    z-index: 1000;
    justify-content: center;
    align-items: center;
    display: flex;
}

.stack-login-elements {
    display: flex;
    flex-direction: column;
}

/* .profile-pic {
    border-radius: 50%;
    height: 250px;
    width: 250px;
    background-image: url("assets/sal-photo.JPEG");
    background-size: cover;
    background-color: pink;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    background-position: center;
} */

.profile-pic-img {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    border: 2px solid black;
    
}

